body {
    background-color: rgb(244, 244, 244);
}

.sidebar-section {}

.sidebar-label {
    display: flex;
    flex-direction: row;
    color: #aaa;
    font-size: 12px;
}

.drawer-content {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.sidebar-hl {
    width: -webkit-fill-available;
    border-bottom: 1px solid;
    margin-bottom: 8px;
    margin-left: 10px;
}

.drawer-social-content {
    border-top: 1px solid #aaa;
    padding-top: 40px;
    padding-left: 10px;
    display: flex;
    gap: 12px;
}

.drawer-social-icon {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar-status {
    background-color: rgb(255, 92, 0);
    font-size: 10px;
    font-weight: 700;
    border-radius: 8px;
    color: #fff;
    padding: 2px;
}

.home-container {
    position: fixed;
    top: 160px;
    left: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;

    @media (max-width: 768px) {
        position: fixed;
        left: 0;
        top: 200px;
    }
}